<div class="container">
	<div class="actions">
		<ul class="actions-list">
			<li class="actions-list__item">
				<a href="#">
					<div class="actions-list__ico">
						{{ icon('buy' , {'width': 40, 'height': 40}) }}
					</div>
					<div class="actions-list__caption">
						Покупка криптовалюты
					</div>
					<span></span>
				</a>
			</li>
			<li class="actions-list__item">
				<a href="#">
					<div class="actions-list__ico">
						{{ icon('transfer' , {'width': 32, 'height': 33}) }}
					</div>
					<div class="actions-list__caption">
						Перевод в криптовалюту
					</div>
					<span></span>
				</a>
			</li>
			<li class="actions-list__item">
				<a href="#">
					<div class="actions-list__ico">
						{{ icon('exchange' , {'width': 36, 'height': 33}) }}
					</div>
					<div class="actions-list__caption">
						Обмен криптовалюты
					</div>
					<span></span>
				</a>
			</li>
			<li class="actions-list__item">
				<a href="#">
					<div class="actions-list__ico">
						{{ icon('invest' , {'width': 30, 'height': 29}) }}
					</div>
					<div class="actions-list__caption">
						Инвестиции в криптовалюту
					</div>
					<span></span>
				</a>
			</li>
		</ul>
	</div>
</div>