<div class="rates">
	<div class="container">
		<div class="rates__holder">
			<ul class="rates-list">
				<li class="rates-list__item">
					<a href="#">
						<div class="rates-list__main">
							<div class="rates-list__name">
								{{ icon('btc' , {'width': 24, 'height': 24}) }}
								BTC/RUB
							</div>
							<div class="rates-list__value">
								1 045 967.73 ₽
								<span>45 967.73 $</span>
							</div>
						</div>
						<div class="rates-list__change up">
							<span>0.01%</span>
							<div class="rates-list__change__graf">
								<img src="assets/images/changes/btc.svg" alt="Graf">
							</div>
						</div>
					</a>
				</li>
				<li class="rates-list__item">
					<a href="#">
						<div class="rates-list__main">
							<div class="rates-list__name">
								{{ icon('eth' , {'width': 24, 'height': 24}) }}
								ETH/RUB
							</div>
							<div class="rates-list__value">
								241 367.89 ₽
								<span>3 286.13 $</span>
							</div>
						</div>
						<div class="rates-list__change down">
							<span>0.07%</span>
							<div class="rates-list__change__graf">
								<img src="assets/images/changes/btc.svg" alt="Graf">
							</div>
						</div>
					</a>
				</li>
				<li class="rates-list__item">
					<a href="#">
						<div class="rates-list__main">
							<div class="rates-list__name">
								{{ icon('ttr' , {'width': 24, 'height': 24}) }}
								ETH/RUB
							</div>
							<div class="rates-list__value">
								241 367.89 ₽
								<span>3 286.13 $</span>
							</div>
						</div>
						<div class="rates-list__change up">
							<span>0.07%</span>
							<div class="rates-list__change__graf">
								<img src="assets/images/changes/btc.svg" alt="Graf">
							</div>
						</div>
					</a>
				</li>
				<li class="rates-list__item">
					<a href="#">
						<div class="rates-list__main">
							<div class="rates-list__name">
								{{ icon('dmd' , {'width': 24, 'height': 24}) }}
								ETH/RUB
							</div>
							<div class="rates-list__value">
								241 367.89 ₽
								<span>3 286.13 $</span>
							</div>
						</div>
						<div class="rates-list__change up">
							<span>0.07%</span>
							<div class="rates-list__change__graf">
								<img src="assets/images/changes/btc.svg" alt="Graf">
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>	
</div>