@font-face {
    $path-font-face: '../fonts/Stolzl/Stolzl-Regular';
    font-family: 'Stolzl';
    src: local('Stolzl'), url('#{$path-font-face}.woff') format('woff'), url('#{$path-font-face}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

